.signup {
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.signup__logo {
    margin: 20px auto;
    object-fit: contain;
    width: 100px;
}
.signup__container {
    width: 400px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 20px;
}
.signup__container h1 {
    font-weight: 500;
    margin-bottom: 20px;
}
.signup__container label {
    font-weight: 700;
}
.signup__container input {
    height: 30px;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 3px;
    border: 1px solid rgb(74, 74, 74);
    width: 98%;
}
.signup__signupButton {
    background: linear-gradient(#f5db99, rgb(244, 171, 37));
    border-radius: 2px;
    width: 100%;
    /* height: 30px; */
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29; 
    font-size: 16px;
    padding: 10px;
    text-align: center;
}
.signup__container p {
    padding: 30px 0 ;
}
